.logo-nav-mb01 {
    display: block;
    margin: 10px 10px 0;
}
.title__ads01 {
    font-size: 32px;
    text-transform: uppercase;
}
.title__ads01 span {
    color:#576398
}
.list-why li {
    line-height: 30px;
    font-size: 14px;
}
.text-title__ads01 {
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
.group-grid__item                                                                                                                                            {
    padding: 48px 0 0;
    display: block;
    float: left;
}
.ads01 .unit_sms_trade {
    text-align: center;
    padding: 25px 30px;
    display: block;
    min-height: 345px;
    background: #eee;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}
.cap2{
    display: none;
}
.ads01 .spn_icon_dv {
    background: url(../img/icon-smsdv.png) no-repeat;
    width: 125px;
    height: 124px;
    display: inline-block;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}
.ads01 .grid__item .icon_trade_1 {
    background-position: 0 0;
}
.ads01 .grid__item .icon_trade_2 {
    background-position: 0 -124px;
}
.ads01 .grid__item .icon_trade_3 {
    background-position: 0 -248px;
}
.ads01 .grid__item .icon_trade_4 {
    background-position: 0 -372px;
}
.ads01 .grid__item:hover .unit_sms_trade {
    background: url(../img/slide-backgruond1.jpg) 0 0 no-repeat;
    background-size: cover;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}
.ads01 .grid__item:hover .icon_trade_1 {
    background-position: -125px 0;
}
.ads01 .grid__item:hover .icon_trade_2 {
    background-position: -125px -124px;
}
.ads01 .grid__item:hover .icon_trade_3 {
    background-position: -125px -248px;
}
.ads01 .grid__item:hover .icon_trade_4 {
    background-position: -125px -372px;
}
.ads01 .grid__item:hover h3,
.ads01 .grid__item:hover p {
    color: #fcc314;
}
.grid-our-services img {
    width: 100px
}
.grid-our-services .grid__item .item {
    border: 2px solid #576398;
    text-align: center;
    padding: 25px 10px;
    transition: 0.5s all;
    min-height: 235px;
}
.section-header__title.section-header__left {
    font-size: 28px;
    color: white;
    background: #576398;
    padding-left: 2%;
}
.grid-our-services .grid__item .item:hover {
    filter: grayscale(0%);
    transform: scale(1.2);
    z-index: 100;
    background: #576398;
    color: #fff;
}
.grid-our-services .grid__item .item .item-img {
    height: 108px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lg-partner {
    z-index: 9;
    position: relative;
    background-color: #1f2022;
}
.title-partner-line {
    text-align: center;
    margin-bottom: 0;
    overflow: hidden;
    position: relative;
}
.title-partner-line h2 {
    text-align: center;
    font-size: 16px;
    color: #d8d8d8;
    text-transform: uppercase;
    margin-top: 30px;
}
.title-partner-line h2 {
    display: inline-block;
    background: #1f2022;
    padding: 0px 5px;
    position: relative;
    z-index: 1;
}
.title-partner-line:before {
    display: table;
    content: "";
    width: 100%;
    position: absolute;
    border-top: 2px dashed #313234;
    top: 40px;
}
@media (min-width: 1200px)
{
    .title-partner-line:before {
        border-top: 1px dashed #313234;
    }
}
.hidden {
    display: none!important;
}
.item-part {
    text-align: center;
    position: relative;
}
@media (min-width: 768px) {
    .item-part {
        width: 14.2857143%;
        float: left;
        padding: 0 15px;
        margin: 10px 0;
    }
}
.item-part a {
    display: block;
    position: relative;
    overflow: hidden;
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-repeat: no-repeat;
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out,-webkit-transform 400ms ease-in-out;
    -webkit-transition: 1s;
    -webkit-font-smoothing: antialiased;
}
svg.img-black {
    fill: #a8a8a8;
}
.item-part svg, a.svg-faceshop img, a.svg-5giay img {
    max-width: 100%;
    height: 55px;
}
a.svg-aothun svg {
    width: 125px;
}
.item-part .img-hover {
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: none;
}
.item-part a:hover {
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
    -ms-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: 1s;
}
.item-part:hover .img-black {
    display: none;
    opacity: 0;
}
.item-part:hover .img-hover {
    opacity: 1;
    display: block;
}
.logo_developers {
    padding: 30px 0 15px;
}
.f_note {
    font-size: 16px;
    color: #d8d8d8;
    margin: 10px 0 10px;
}
.logo_developers img {
    max-width: 300px;
}
.partner-mobile {
    display: none;
}
@media( max-width: 468px ) {
    .partner-desktop {
        display: none;
    }
    .partner-mobile {
        display: block;
    }
    #home-about-us .grid__item {
        margin-bottom: 15px;
    }
    #home-statistics .grid__item {
        margin-bottom: 20px;
    }
    #home-statistics .grid__item.large--two-tenths {
        line-height: 39px;
    }
    .item-part {
        width: 20%;
        float: left;
        text-align: center;
        padding: 0 8px;
    }
    .logo_developers {
        text-align: center;
    }
    .logo_developers img {
        max-width: 168px;
    }
}
.footernav {
    background-color: #2a2c2e;
    position: relative;
    border-bottom: 1px solid #424447;
}
.footernav__ads {
    margin-left: -15px;
    margin-right: -15px;
}
#footernav ul.navbar-f li {
    display: inline-block;
    padding: 15px 10px;
}
#footernav ul.navbar-f li:first-child {
    padding-left: 0;
}
#footernav ul.navbar-f li a {
    color: #a9a9a9;
    font-size: 16px;
}
#footernav ul.navbar-f {
    margin-bottom: 0;
}
#footernav ul.navbar-f li a:hover {
    color: #fff;
    text-decoration: none;
    padding-bottom: 6px;
    background-image: -webkit-linear-gradient(bottom,transparent,transparent 0.0625em,currentColor 0.0625em,currentColor 0.125em,transparent 0.125em);
    background-image: linear-gradient(to top,transparent,transparent 0.0625em,currentColor 0.0625em,currentColor 0.125em,transparent 0.125em);
    background-position: 0 -.125em;
    -webkit-transition: background-position 150ms ease-in-out;
    transition: background-position 150ms ease-in-out;
}
.lg-partner .container-fluid.container-p {
    padding-bottom: 30px;
}
@media (min-width: 768px)
{
    .footernav .container, .footernav .container-fluid {
        border-bottom: 1px solid #424447;
        background: #2a2c2e;
        color: #898989;
    }
}
.footerb .footerb-wrap, .footert {
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 10px;
}
.footermain {
    background: #2a2c2e;
    color: #898989;
    position: relative;
}
.title-md-footer {
    margin-top: 20px;
    color: #a9a9a9;
    text-transform: uppercase;
    font-size: 16px;
}
#footermain {
    float: left;
    width: 100%;
}
@media (min-width: 768px)
{
    .footerb .footerb-1 {
        padding-left: 0;
        padding-right: 0;
    }
    .footerb-1 .footerb-1-l {
        padding-left: 0;
    }
}
.footerb-1 .title-sm-footer {
    margin-top: 0;
    color: #c4c4c4;
    text-transform: uppercase;
    font-size: 14px;
}
.tel > a {
    color: #c4c4c4;
    font-weight: 700;
    text-decoration: none;
}
.navbar-social {
    text-align: center;
}
ul {
    list-style: none;
}
ul.navbar-social li {
    position: relative;
    overflow: hidden;
    width: 35px;
    height: 35px;
    padding: 0;
    margin: 10px 5px 3px;
    display: inline-block;
    zoom: 1;
}
.img-congthuong img {
    max-width: 200px;
    margin: auto;
}
.wrap-navbar-social {
    text-align: center;
}
@media (min-width: 768px)
{
    .img-congthuong img {
        padding: 0;
        max-width: 180px;
        margin: auto;
    }
}
ul.navbar-social li img {
    bottom: 0;
    left: 0;
    position: absolute;
}
ul.navbar-social li img {
    -moz-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}
ul.navbar-social li img:first-child {
    bottom: -35px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
ul.navbar-social li:hover img:first-child {
    bottom: 0;
    z-index: 1;
}
ul.navbar-social li:hover img:last-child {
    bottom: -35px;
}
.hidden-md-sm {
    display: none;
}
@media(max-width:468px) {
    .footernav__ads ul {
        text-align: center;
    }
    .adr {
        width: 50%!important;
    }
    .footerb-1-l {
        padding-right: 5px;
        padding-left: 0;
    }
    .footerb-1-r {
        padding-right: 0;
        padding-left: 7px;
    }
    .hidden-xs {
        display: none;
    }
    .hidden-md-sm {
        display: block;
        border-top: 1px solid #424447;
    }
    ul.navbar-social li {
        margin: 0;
    }
    .img-congthuong img {
        max-width: 120px;
        margin: auto;
    }
    ul.navbar-social {
        width: 50%;
        float: left;
    }
}