.alert-ads {
	max-width: 800px;
    margin: 0 auto;
    text-align: center;
    clear: both;
    margin-top: 50px;
    color: #fff;
}
.alert-ads-error {
	background: #ff8181;
}
.alert-ads-success {
	background: #2ab32f;
}
ul.item-actions-list li {
    display: inline-block;
}
ul.quyen {
    list-style:  none;
}

ul.quyen li {
    display:  inline-block;
}
span.favi {
    height:  25%;
    width:  10%;
    background: green;
    color: white;
    text-align:  center;
    margin-bottom: 1%;
    cursor: pointer;
}
.avatar:hover .product-photo-hover-overlay {
    opacity: 2;
}
.form-group.row {
    width: 100%;
    margin-left: 1%;
    padding-top: 2%;
}
h1.stt:before {
    countercounter-increment: number;
    content: "counter(number) ";
}
.input-error:focus,
.input-error {
    border: 1px solid #f33!important;
    -webkit-box-shadow: 0 0 0 1px #f33!important;
    box-shadow: 0 0 0 1px #f33!important;
}
.icon-sidebar {
    width: 21px;
    height: 21px;
}